body {
    background-color: #242629;
}

.splash{
    width: 120%;
    height: 120%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
   }

   .brand-logo {
    padding-top: 100px;   
    padding-bottom: 80px; 
    width: 340px;
    height: 120px;
    margin: 150px auto 50px auto;
    font-size: 50px;
    text-shadow: -1px 2px 2px #000;
    text-align: center;
    color: rgb(202, 120, 58);
   }

   .loader-frame {
 
    width: 70px;
    height: 70px;
    margin: auto;
    position: relative;
   }
   .loaderOne, .loaderTwo {
    position: absolute;
    border: 5px solid transparent;
    border-radius: 50%;
   }
   .loaderOne {
    width: 70px;
    height: 70px;
    border-top: 5px solid rgb(202, 120, 58);
    border-bottom: 5px solid rgb(202, 120, 58);
    animation: clockwisespin 2s linear 3;
   }
   .loaderTwo {
    width: 60px;
    height: 60px;
    border-left: 5px solid rgb(242, 89, 7);
    border-right: 5px solid rgb(242, 89, 7);
    top: 5px; left: 5px;
    animation: anticlockwisespin 2s linear 3;
   }
   
   
   @keyframes clockwisespin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
   }
   @keyframes anticlockwisespin {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
   }
   @keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
   }